body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

.container-fluid {
  padding: 7% 15%;
}

/* Colours */
.white-section {
  background-color: white;
}

.colored-section {
  background-color: #ff4c68;
  color: white;
}

/* Title Section */

#title {
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.big-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Navigation Bar */
#navBarHolder {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 4.5rem;
  padding-top: 3%;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 1.2rem;
}

/* Download Buttons */
.dl-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title {
  z-index: 1
}

.iphone-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features */
.features-row {
  background-color: white;
  position: relative;
}

.feature-col {
  padding: 5%;
  line-height: 1.5;
  margin: 1.5rem auto;
}

.feature-icon {
  color: #ef8172;
  /* font-size: 4rem; */
  margin: 1rem auto;
}

.feature-icon:hover {
  color: #ff4c68;
}

.feature-p {
  font-size: 1rem;
  color: #8f8f8f;
  /* width:50%; */
  margin: auto;
}

.feature-h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

/* Testimonial Section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press */
#press {
  padding-bottom: 3%;
  background-color: #ef8172;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

.pricing-column {
  padding: 3% 2%;
}

.card {
  height: 27rem;
  min-width: 16.5rem;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

/*
.card-button {
  vertical-align: text-bottom;
} */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .iphone-img {
    position: static;
    transform: rotate(0deg);
  }
}

/* Call to Action */
#cta {
  margin: auto 0;
}

/* Footer Section */

.footer-icon {
  margin: 1rem 1rem;
}

.footer-icon-row {
}

.footer-desc {
  color: grey;
}
